body{
    background-color:#21396A;
}

h4,h2,p{
    color:white;
    font-size: 20px;
}
a{
    color:#73335F;
    font-size: 20px;
    margin-right:20px;
}
h3{
    color:#579E66;
    font-size: 30px;
    
}
h4{
    font-size: 25px;
}
h2{
    font-size: 40px;
}
header{
    margin-top:60px;
}